[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ? ?? ? ?? ?? ??
[access "refs/*"]
	owner = group user/infuk (insukChoi)
	owner = group yata
[access "refs/heads/*"]
	create = group user/infuk (insukChoi)
	create = group yata
	push = +force group user/infuk (insukChoi)
	push = group yata
	pushMerge = group user/infuk (insukChoi)
	pushMerge = group yata
	read = group user/infuk (insukChoi)
	read = group yata
[access "refs/tags/*"]
	push = group user/infuk (insukChoi)
	push = +force group user/infuk (insukChoi)
	push = group yata
[access "refs/for/*"]
	label-Code-Review = -2..+2 group user/infuk (insukChoi)
	label-Code-Review = -2..+2 group yata
	label-Verified = -1..+1 group user/infuk (insukChoi)
	label-Verified = -1..+1 group yata
	push = group user/infuk (insukChoi)
	push = group yata
	read = group user/infuk (insukChoi)
	read = group yata
	rebase = group user/infuk (insukChoi)
	rebase = group yata
	removeReviewer = group user/infuk (insukChoi)
	removeReviewer = group yata
	submit = group user/infuk (insukChoi)
	submit = group yata
