[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ? ?? ? ?? ?? ??
[access "refs/*"]
	owner = group user/infuk (insukChoi)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/infuk (insukChoi)
	label-Verified = -1..+1 group user/infuk (insukChoi)
	push = group user/infuk (insukChoi)
	read = group user/infuk (insukChoi)
	rebase = group user/infuk (insukChoi)
	removeReviewer = group user/infuk (insukChoi)
	submit = group user/infuk (insukChoi)
[access "refs/heads/*"]
	create = group user/infuk (insukChoi)
	push = +force group user/infuk (insukChoi)
	pushMerge = group user/infuk (insukChoi)
	read = group user/infuk (insukChoi)
[access "refs/tags/*"]
	push = group user/infuk (insukChoi)
	push = +force group user/infuk (insukChoi)
